body{
    background: #282C33
}
.__container{
    width: 1027px;
    margin: 0px 170px 0px 170px;
    align-items: center;
    object-position: centers;
}
.wrapper {
    z-index: 50;
}
.contackt {
    z-index: 100;
    position: fixed;
    margin: -40px 0px 0px 35px;
}
.contackt-back{
    background-color: #282C33;
    width: 40px;
    height: 200px;
    box-shadow: 1px 1px 20px rgb(0, 0, 0);
}
.polos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.polosss{
    height: 100px;
    width: 1px;
    border:1px solid #fff;

}
.href-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}   
.qweqrw{
    margin-top: 10px;
    width: 20px;
    height: 20px;
    
}
/*=========================================HEADER====================================*/
.header {
}
.header-content {
}
.menu-content {
    margin: 32px 0px 0px 0px;
    display: flex;
}
.menu-logo {
    margin: 0px 565px 0px 0px;
}

.menu-list {
    display: inline-flex;
    flex-wrap: nowrap;
}

.menu-href:last-child{
    margin: 0px 32px 0px 0px;
}

.menu-item {
    color: #C778DD;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}
.menu-href {
    color: #ABB2BF;
    font-family: 'Fira Code';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    transition: all 0.4s ease;
}
.menu-href:hover{
    color: #fff;
}


/*=================================MAIN=======================================*/
.main {
}
.polosa-no-container{
    position: absolute;
    display: flex;
    background: url(/img/polos.png);
    width: 171px;
    height: 49px;
    background: #D9D9D9;
    margin: 20px 0px 0px 0px;
    z-index: 50;
}
.main-content {
}
.main-first {
}
.polosa {
    display: flex;
    margin: 26px 0px 0px 0px;
    width: 100%;
    height: 93px;
    background: #D9D9D9;
    z-index: 50;
}
.main-elias {
}
.elias {
    display: flex;
}
.elias-text {
}
.elias-elis {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    max-width: 537px;
    padding: 15px 0px 0px 0px;
    color:  #FFFFFF;;
}
.elieas-craft {
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #ABB2BF;
    margin: 32px 0px 0px 0px;
    max-width: 463px;
}
.elieas-contact {
    font-family: 'Fira Code';
    border: 1px solid #C778DD;
    padding: 8px 16px;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    margin: 32px 0px 0px 0px;
}
.elias-photo {
}
.photo{
    z-index: 0;
    margin: 0px 0px 0px 30px;
}
/*=====================================*/
.main-with {
  
}
.with-text {
    padding: 112px 0px 0px 187px;
}
.text-bord{
    padding: 32px;
    border: 1px solid #ABB2BF;
    background: #282C33;
    font-size: 24px;
    line-height: 31px;
    font-family: 'Fira Code';
    font-style: normal;
    color: #FFFFFF;
}
.text-dr{
    padding: 16px;
    border: 1px solid #ABB2BF;
    background: #282C33;
    font-size: 24px;
    line-height: 31px;
    font-family: 'Fira Code';
    font-style: normal;
    font-family: 400;
    color: #FFFFFF;
}
.with-oborot {
    position: absolute;
    margin: 64px 0px 0px 192px;
}
.with-oborot2 {
    margin: 16px 0px 0px 849px;
    position: absolute;
}
.with-dr {
    padding: 50px 0px 0px 737px;
}
/*======================================================================*/
.main-projects {

}

.projects-content {
   
    padding: 74px 0px 0px 0px;
}
.projects-zagalowok {

}
.zagalowok-- {
    color: #C778DD;
    font-family: 'Fira Code';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 42px;

}
.zagalowok- {
    font-family: 'Fira Code';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 42px;
}
.projects-cherta {
    display: inline-block;
    background: #C778DD;
    height: 1px;
    width: 511px;
    margin: 0px 0px 8px 0px ;
}
.projects-plit {
    border: 1px solid #ABB2BF;
    max-width:31%;
    min-height: 395px;
    float: left;
}
.projects-plit:not(last-child){

        margin: 32px 16px 0px 0px;

}
.plit {
    margin: 1 auto;
}
.plit-img {
    border-bottom: 1px solid #ABB2BF;
}
.plit-html {
    padding: 8px;
}
.html-text {
font-family: 'Fira Code';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
color: #ABB2BF;
padding: 8px;
}
.plit-name {
    border-top: 1px solid #ABB2BF;
    padding: 16px 16px 0px 16px;
}
.name-text {
font-family: 'Fira Code';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 31px;
color: #FFFFFF;
}
.plit-info {
    padding: 16px 16px 0px 8px;
}
.info-text {
font-family: 'Fira Code';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;

color: #ABB2BF;

}
.plit-href {
    padding: 29px 0px 0px 112px;
}
.plit-href-info {
    border: 1px solid #ABB2BF;
font-family: 'Fira Code';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;
color: #ABB2BF;
padding: 10px 8px;

}
